<h1>ANAGRAM OR ANTIGRAM?</h1>
<form action="/anagram">
  <div class="form-group">
   <h2>Check to see if your words are anagrams or not!</h2>
   <input id="anagram1" name="anagram1" class="form-control" type="text">
   <input id="anagram2" name="anagram2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
